[user]
	email = space@coders51.com
	name = Stefano Pace
[core]
	editor = vim
	excludesFile = ~/.gitignore_global
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	co = checkout
	br = branch
	ci = commit
	st = status -sb
	unstage = reset HEAD --

