! special
*.foreground:   #f3e5f4
*.background:   #040a1a
*.cursorColor:  #f3e5f4

! black
*.color8:       #1f122e
*.color0:       #4b2791

! red
*.color9:       #cc197f
*.color1:       #ff3bab

! green
*.color10:       #4bc05e
*.color2:      #68ea7d

! yellow
*.color11:       #de7d3b
*.color3:      #fea466

! blue
*.color12:       #0fa5b6
*.color4:      #18eef0

! magenta
*.color13:       #6e227d
*.color5:      #9840ae

! cyan
*.color14:       #0e5f59
*.color6:      #17bdaf

! white
*.color15:       #9998b8
*.color7:      #effafe

!*.font: xft:terminus:size=14
!*.font: xft:unscii:size=9
URxvt*font: xft:Dina:style=Regular:pixelsize=16
URxvt*boldFont: xft:Dina:style=Regular:pixelsize=16

URxvt*cursorBlink: 1
URxvt*cursorUnderline: 1
URxvt*scrollBar: false
URxvt*transparent: false
