URxvt.cursorBlink: 1
URxvt.cursorUnderline: 1
URxvt.background: black
URxvt.foreground: white
URxvt.font: xft:terminus:size=14:antialias=false:autohint=true
URxvt.scrollBar: false
URxvt.transparent: true
URxvt.shading: 50
